.wrap {
  padding: 1% 7%;
  display: block;
}

.search {
  padding: 2rem 0;
  box-sizing: border-box;
}

.search form {
  width: 100%;
  box-sizing: border-box;
}

.search form label {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  color: #333333;
  border: 1px solid #efefef;
  box-sizing: border-box;
}

.search form label i {
  font-size: 1.2rem;
  color: #c90f0c;
  margin-right: 1rem;
}

.search form label input {
  border: none;
  outline: none;
  flex-grow: 1;
}

input::placeholder {
  color: #adadad;
  font-family: "Poppins", sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 1rem 0;
}