.popup {
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup .box {
  width: 50%;
  height: fit-content;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
@media(max-width: 700px) {
  .popup .box {
    width: 80%;
  }

  .popup h2 {
    font-size: 1rem;
  }

  .popup p {
    font-size: .9rem;
  }

  .popup button {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}

.popup i {
  font-size: 4rem;
  margin-bottom: .5rem;
  color: green;
}

.popup h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.popup p {
  margin: 5px 0;
}

.popup button {
  margin: 1.5rem 0;
  padding: .7rem 3rem;
  background-color: green;
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 6px;
}

.popup button:hover {
  background-color: red;
}

.petition{
  position: relative;
  animation: moves 5s infinite;
}

@keyframes moves {
  from {left: -100px;}
  to {left: 100px;}
}
