.home {
  padding: 2% 0 0;
  color: #333333;
}

/* INFOBOX SECTION */

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 7% 6rem;
}

@media(max-width: 525px) {
  .infoSection {
    padding: 3rem 3% 5rem;
  }
}

.infoSection img {
  max-width: 20%;
  text-align: center;
}

@media(max-width: 550px) {
  .infoSection img {
    max-width: 35%;
  }
}

.infoSection h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}

.boxesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.infoBox {
  all: unset;
  color: #333333;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem !important;
  width: 28%;
  margin: .5rem;
  border-radius: 5px;
  box-shadow: 0 0 30px .5px rgba(0,0,0,.08);
  transition: .1s ease-out;
}

.infoBox:hover{
  transform: translateY(-5%);
  transition: .1s ease-out;
}

.infoBox i {
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBox h4 {
  font-size: 1.2rem;
  -webkit-text-stroke: 0.2px #F70000;
}


@media(max-width: 800px) {
  .boxesContainer {
    justify-content: space-between;
    flex-direction: column;
  }
  .infoBox {
    width: 80%;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 2rem;
  }

  .infoBox i {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoBox h4 {
    font-size: 1rem;
    margin: 0 0 .5rem;
  }

}

/* FOOTER */

.footer {
  padding: 3rem 7%;
  background-color: #000;
  /* justify-content: space-between; */
}

@media(min-width: 900px) {
  .footer {
    display: flex;
  }

  .footer section {
    margin-right: 5%;
  }
}

.footer section {
  margin-bottom: 2rem;
}

.footer h2 {
  color: #F70000;
  font-size: 1.2rem;
}

.footer h2 i {
  margin-right: .3rem;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  padding: .4rem 0;
}

.footer ul li a {
  color: rgb(189, 189, 189);
  text-decoration: none;
  font-weight: 400;
}

.footer ul li a:hover {
  color: #d80000;
}

.footer .ad {
  max-width: 100%;
}

@media(min-width: 500px) {
  .footer .ad {
    width: 300px;
    height: auto;
  }
}